.mainhero {
    background-color: #C2EFD4;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.heroh1{
   color: #224F34;
   font-size: 66px;
   font-weight: 700;
   line-height: 106.21px;
   width: 300px;

}
.herop{
    color:#267D49;
    font-size: 24px;
    line-height: 52.8px;
    font-weight: 500;
    width: 300px;

}

.herobutton{
    background-color:#224F34;
    color: #FFFFFF;
    width: 259px;
    height: 74px;
    border-radius: 3px;

}

.heroImage{
   width: auto;
   height: auto;
   margin-top: 50px;
  margin-bottom: 50px;
}

