.main_footer{
    background-color:#224F34;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.centeredContent > p{
    color: #C2EFD4;
}
.centeredContent > h3 {
    color: #FFFFFF;
}
.footer_text{
    display: flex;
    flex-wrap: wrap;
}
