/* styles/Navbar.module.css */
.navbar {
    background-color:#C2EFD4;
    overflow: hidden;
    display: flex;
    justify-content:space-around;
   }

   .navItems {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
   }

   .navItem {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;


    display: block;
   }

   .navItem:hover {
    background-color: #ddd;
    color: black;
   }
.linkt{
    color:#224F34 !important;
    text-decoration:none;
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
}
.buttonl{
color:#224F34;
 border-color: #224F34;
 background-color: #C2EFD4;
}
